location     = "westeurope"
environment  = "prod"
project_name = "crypto-analysis"
compute_platform = "aks"
vnet_cidr        = "10.20.0.0/16"

subnet_cidrs = {
  aks_nodes         = "10.20.0.0/21"
  aks_pods          = "10.20.8.0/21"
  # Use this instead of aks_* when compute_platform = "app_service"
  # app_service_apps = "10.20.0.0/23"
  private_endpoints = "10.20.16.0/24"
  app_gateway       = "10.20.17.0/24"
  bastion           = "10.20.18.0/26"
  management        = "10.20.19.0/24"
}

create_nat_gateway = true
